
{% extends "Contenido/encabezado.html" %}

{%block titulo%} CONTACTO {%endblock%}



{%block contenido%}
<section id="contact" class="four">
  <div class="container">

    <header>
      <h2>Contactanos o solicita información sobre algun curso</h2>
    </header>
    <form method="post" action="#">
   
      <div class="row">
        <div class=" uno col-6 col-12-mobile"><p>Nombre:<input type="text" name="name" placeholder="Nombre" /></div></p>
        <div class="dos col-6 col-12-mobile"><p>Correo Elecronico<input type="text" name="email" placeholder="Email" /></div></p>
        <div class="tres col-6 col-12-mobile"><p>Cursos disponibles : 
          <select name="cursos">
          <option>Programacion</option>
          <option>Bases de Datos</option>
          <option>Diseño Digital</option>
          <option>Movil</option>
          <option>Telecomunicaciones</option>
          <option>Redes</option>
          <option>Ensamble de Hardware</option>
          </select>
      </p></div>
        <div class="mensaje col-12">
          <textarea name="message" placeholder="Mensaje:"></textarea>
        </div>
        <div class="boton col-12">
          <input type="submit" value="Enviar" />
        </div>
      </div>
    </form>
  </div>
</section>

</div>
  {%endblock%}