{% extends "Contenido/encabezado.html" %}

{%block titulo%} CURSOS {%endblock%}

{%block contenido%}
<section id="contact" class="four">
    <div class="container">
  
      <header>
        <h2>Selecciona el Curso que deseas tomar:</h2>
      </header>
  
      
  
      <form method="post" action="#">
        <div class="row">
         
          <div class="elemento col-6 col-12-mobile"><p>Cursos disponibles : 
            <select name="cursos">
            <option>Programacion</option>
            <option>Bases de Datos</option>
            <option>Diseño Digital</option>
            <option>Movil</option>
            <option>Telecomunicaciones</option>
            <option>Redes</option>
            <option>Ensamble de Hardware</option>
            </select>
        </p></div>
         
        </div>
      </form>
  
    </div>
  </section>
  
  </div>
    
{%endblock%}    