{% extends "Contenido/encabezado.html"%}

{%block titulo%} HOME {%endblock%}

{%block contenido%}
<h1 class="saludo">Hola Bienvenido a</h1>
<h3 class="saludo2">PsPrograming tu plataforma de cursos </h3>

<!-- Tabla de cursos -->
<table class="table table-bordered table-
striped">
<thead>
<tr>
<th>Foto</th>
<th>Curso</th>
<th>Duracion</th>
<th>Carrera</th>
<th>Turno</th>
<th>Instructor</th>
</tr>
</thead>

<tbody>
    <tr>
    <td class="text-center">
    <img src="" alt="" class="img-media">
    </td>
    <td class="text-semibold">Base de Datos</td>
    <td class="muted">10 Horas</td>
    <td class="muted">Tic</td>
    <td class="muted">Matutino</td>
    <td class="muted">Leonardo</td>
    </tr>
    </tbody>
    </table>
    <!-- /Tabla de cursos -->
{%endblock%}